.signa-body
{
    background: #F2F2F2;
    height: 100%;
}

.signa-titlebar
{
    background: #555;
}

.signa-titlebar-title
{
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 10px 5px;
}

.signa-titlebar > .signa-titlebar-title.signa-titlebar-main
{
    font-weight: bold;
    padding: 10px 5px;
}

.signa-main
{
    margin: 0 auto;
    width: 95%;
    margin-top: 30px;
    height: 100%;
}

.signa-main-section
{
    box-sizing: border-box;
    padding: 5px;
    height: 450px;
}

.signa-signal-container
{
    background: #AAA;
}

.signa-signal-word
{
    margin: 0;
    text-align: center;
    font-size: 300px;
    color: red;
}

.signa-message
{
    color: white;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.signa-message-success
{
    background: green;
}

.signa-handmodel-container
{
    background: black;
    margin: 0 0 5px 0;
    height: 210px;
    position: relative;
}

.signa-handmodel-example
{
    border: 2px solid green;
}

.signa-handmodel-user
{
    border: 2px solid red;
}

.signa-handmodel-container > .signa-titlebar-title
{
    position: absolute;
    top: 0;
    left: 0;
}

.signa-button
{
    background: #555;
    color: white;
    margin: 5px;
}

.signa-button-xlarge {
    font-size: 125%;
}

.signa-right
{
    float: right;
}

.signa-float-container::after
{
    display: block;
    content: '.';
    clear: both;
    visibility: hidden;
}
